{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Your_Database_Connection_String"
  },
  "Jwt": {
    "Issuer": "Your_JWT_Issuer",
    "Audience": "Your_JWT_Audience",
    "Key": "Your_JWT_Secret_Key",
    "TokenValidityInMinutes": 15,
    "RefreshTokenValidityInDays": 14
  },
  "Cloudinary": {
    "CloudName": "Your_Cloudinary_CloudName",
    "ApiKey": "Your_Cloudinary_ApiKey",
    "ApiSecret": "Your_Cloudinary_ApiSecret"
  },
  "AllowedOrigins": [
    "http://localhost:3000"
  ],
  "Interests": [
    {
      "Id": 1,
      "Name": "Music"
    },
    {
      "Id": 2,
      "Name": "Gaming"
    },
    {
      "Id": 3,
      "Name": "Programming"
    },
    {
      "Id": 4,
      "Name": "Art"
    },
    {
      "Id": 5,
      "Name": "Travel"
    },
    {
      "Id": 6,
      "Name": "Photography"
    },
    {
      "Id": 7,
      "Name": "Reading"
    },
    {
      "Id": 8,
      "Name": "Fitness"
    },
    {
      "Id": 9,
      "Name": "Cooking"
    },
    {
      "Id": 10,
      "Name": "Movies"
    },
    {
      "Id": 11,
      "Name": "Nature"
    },
    {
      "Id": 12,
      "Name": "Fashion"
    },
    {
      "Id": 13,
      "Name": "Science"
    },
    {
      "Id": 14,
      "Name": "History"
    },
    {
      "Id": 15,
      "Name": "Languages"
    }
  ]
}

