@using project_garage.Models.ViewModels
@model SearchBoxDto

<form asp-controller="Profile" asp-action="SearchUsers" method="post">
    @Html.AntiForgeryToken()
    <input type="text" name="Query" asp-for="Query" />
    <button type="submit">Search</button>
</form>



